/* body */
body{
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-weight: 200;
}

/* header */
.header{
    background-color: grey;
    height: 5em;
    font-family: sans-serif;
}

/* main content */
.main{
    /* nothing for now */
}

/* links div */
.links{
    display: flex;
}

/* each column */
.column{
    flex: 1;

/* left border for first column */
.column{
    border: 1px solid black;
}